@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-green: #49c5b6;
  --primary-bg-black: #000;
  --slate: #26282A;
}